.mdl-grid
  .mdl-cell.mdl-cell--12-col
    h4= labels.stats.title
    p= labels.stats.message
- var sLabels = labels.stats.summary;
  .mdl-cell.mdl-cell--12-col.scrollx
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(data-bind="visible:isMobile")
      tbody(data-bind="foreach:refills")
        tr
          td(colspan=2)
            h5
              label= sLabels.date
              span.mdl-data-table__cell--non-numeric(data-bind="text:date")
              button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored(type='button' data-bind='click:remove')
                i.material-icons remove
        tr
          td
            div(data-bind="with:mileage")
              h6
                span= sLabels.mileage.title
                small= sLabels.mileage.unit
              p
                label= sLabels.mileage.total
                span(data-bind="number: total")= sLabels.na
                
              p
                label= sLabels.mileage.current
                span(data-bind="number: current")= sLabels.na
                
              p
                label= sLabels.mileage.perMonth
                span(data-bind="number: perMonth")= sLabels.na
                
              p
                label= sLabels.mileage.perQuarter
                span(data-bind="number: perQuarter")= sLabels.na
                
              p
                label= sLabels.mileage.perYear
                span(data-bind="number: perYear")= sLabels.na
                
              p
                label= sLabels.mileage.perLiter
                span(data-bind="number: perLiter")= sLabels.na
                
            div(data-bind="with:volume")
              h6
                span= sLabels.volume.title
                small= sLabels.volume.unit
              p
                label= sLabels.volume.total
                span(data-bind="number: total")= sLabels.na
                
              p
                label= sLabels.volume.current
                span(data-bind="number: current")= sLabels.na
                
              p
                label= sLabels.volume.perMonth
                span(data-bind="number: perMonth")= sLabels.na
                
              p
                label= sLabels.volume.perQuarter
                span(data-bind="number: perQuarter")= sLabels.na
                
              p
                label= sLabels.volume.perYear
                span(data-bind="number: perYear")= sLabels.na
                
          td
            div(data-bind="with:consumption")
              h6
                span= sLabels.consumption.title
                small= sLabels.consumption.unit
              p
                label= sLabels.consumption.total
                span(data-bind="number: total")= sLabels.na
                
              p
                label= sLabels.consumption.current
                span(data-bind="number: current")= sLabels.na
                
              p
                label= sLabels.consumption.perMonth
                span(data-bind="number: perMonth")= sLabels.na
                
              p
                label= sLabels.consumption.perQuarter
                span(data-bind="number: perQuarter")= sLabels.na
                
              p
                label= sLabels.consumption.perYear
                span(data-bind="number: perYear")= sLabels.na
                
            div(data-bind="with:price")
              h6
                span= sLabels.price.title
                small= sLabels.price.unit
              p
                label= sLabels.price.total
                span(data-bind="number: total")= sLabels.na
                
              p
                label= sLabels.price.current
                span(data-bind="number: current")= sLabels.na
                
              p
                label= sLabels.price.perMonth
                span(data-bind="number: perMonth")= sLabels.na
                
              p
                label= sLabels.price.perQuarter
                span(data-bind="number: perQuarter")= sLabels.na
                
              p
                label= sLabels.price.perYear
                span(data-bind="number: perYear")= sLabels.na
                
              p
                label= sLabels.price.perLiter
                span(data-bind="number: perLiter")= sLabels.na
                
              p
                label= sLabels.price.perKilometer
                span(data-bind="number: perKilometer")= sLabels.na
                
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(data-bind="hidden: [isMobile, isWide]")
      thead
        tr
          th.mdl-data-table__cell--non-numeric= sLabels.date
          th
            span= sLabels.mileage.title
            small= sLabels.mileage.unit
          th
            span= sLabels.volume.title
            small= sLabels.volume.unit
          th
            span= sLabels.consumption.title
            small= sLabels.consumption.unit
          th
            span= sLabels.price.title
            small= sLabels.price.unit
      tbody(data-bind="foreach:refills")
        tr
          td
            span(data-bind="text:date")
            button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored(type='button' data-bind='click:remove')
              i.material-icons remove
          td(data-bind="with:mileage")
            p
              label= sLabels.mileage.total
              span(data-bind="number: total")= sLabels.na
            p
              label= sLabels.mileage.current
              span(data-bind="number: current")= sLabels.na
            p
              label= sLabels.mileage.perMonth
              span(data-bind="number: perMonth")= sLabels.na
            p
              label= sLabels.mileage.perQuarter
              span(data-bind="number: perQuarter")= sLabels.na
            p
              label= sLabels.mileage.perYear
              span(data-bind="number: perYear")= sLabels.na
            p
              label= sLabels.mileage.perLiter
              span(data-bind="number: perLiter")= sLabels.na
          td(data-bind="with:volume")
            p
              label= sLabels.volume.total
              span(data-bind="number: total")= sLabels.na
            p
              label= sLabels.volume.current
              span(data-bind="number: current")= sLabels.na
            p
              label= sLabels.volume.perMonth
              span(data-bind="number: perMonth")= sLabels.na
            p
              label= sLabels.volume.perQuarter
              span(data-bind="number: perQuarter")= sLabels.na
            p
              label= sLabels.volume.perYear
              span(data-bind="number: perYear")= sLabels.na
          td(data-bind="with:consumption")
            p
              label= sLabels.consumption.total
              span(data-bind="number: total")= sLabels.na
            p
              label= sLabels.consumption.current
              span(data-bind="number: current")= sLabels.na
            p
              label= sLabels.consumption.perMonth
              span(data-bind="number: perMonth")= sLabels.na
            p
              label= sLabels.consumption.perQuarter
              span(data-bind="number: perQuarter")= sLabels.na
            p
              label= sLabels.consumption.perYear
              span(data-bind="number: perYear")= sLabels.na
          td(data-bind="with:price")
            p
              label= sLabels.price.total
              span(data-bind="number: total")= sLabels.na
            p
              label= sLabels.price.current
              span(data-bind="number: current")= sLabels.na
            p
              label= sLabels.price.perMonth
              span(data-bind="number: perMonth")= sLabels.na
            p
              label= sLabels.price.perQuarter
              span(data-bind="number: perQuarter")= sLabels.na
            p
              label= sLabels.price.perYear
              span(data-bind="number: perYear")= sLabels.na
            p
              label= sLabels.price.perLiter
              span(data-bind="number: perLiter")= sLabels.na
            p
              label= sLabels.price.perKilometer
              span(data-bind="number: perKilometer")= sLabels.na
              
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(data-bind="visible:isWide")
      thead
        tr
          th.mdl-data-table__cell--non-numeric= sLabels.date
          th(colspan=6)
            span= sLabels.mileage.title
            small= sLabels.mileage.unit
          th(colspan=5)
            span= sLabels.volume.title
            small= sLabels.volume.unit
          th(colspan=5)
            span= sLabels.consumption.title
            small= sLabels.consumption.unit
          th(colspan=7)
            span= sLabels.price.title
            small= sLabels.price.unit
        tr
          th
          th= sLabels.mileage.total
          th= sLabels.mileage.current
          th= sLabels.mileage.perMonth
          th= sLabels.mileage.perQuarter
          th= sLabels.mileage.perYear
          th= sLabels.mileage.perLiter
          
          th= sLabels.volume.total
          th= sLabels.volume.current
          th= sLabels.volume.perMonth
          th= sLabels.volume.perQuarter
          th= sLabels.volume.perYear
          
          th= sLabels.consumption.total
          th= sLabels.consumption.current
          th= sLabels.consumption.perMonth
          th= sLabels.consumption.perQuarter
          th= sLabels.consumption.perYear
          
          th= sLabels.price.total
          th= sLabels.price.current
          th= sLabels.price.perMonth
          th= sLabels.price.perQuarter
          th= sLabels.price.perYear
          th= sLabels.price.perLiter
          th= sLabels.price.perKilometer
          
      tbody(data-bind="foreach:refills")
        tr
          td
            span(data-bind="text:date")
            button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect.mdl-button--colored(type='button' data-bind='click:remove')
              i.material-icons remove
          td(data-bind="number: mileage.total")= sLabels.na
          td(data-bind="number: mileage.current")= sLabels.na
          td(data-bind="number: mileage.perMonth")= sLabels.na
          td(data-bind="number: mileage.perQuarter")= sLabels.na
          td(data-bind="number: mileage.perYear")= sLabels.na
          td(data-bind="number: mileage.perLiter")= sLabels.na
          
          td(data-bind="number: volume.total")= sLabels.na
          td(data-bind="number: volume.current")= sLabels.na
          td(data-bind="number: volume.perMonth")= sLabels.na
          td(data-bind="number: volume.perQuarter")= sLabels.na
          td(data-bind="number: volume.perYear")= sLabels.na
          
          td(data-bind="number: consumption.total")= sLabels.na
          td(data-bind="number: consumption.current")= sLabels.na
          td(data-bind="number: consumption.perMonth")= sLabels.na
          td(data-bind="number: consumption.perQuarter")= sLabels.na
          td(data-bind="number: consumption.perYear")= sLabels.na
          
          td(data-bind="number: price.total")= sLabels.na
          td(data-bind="number: price.current")= sLabels.na
          td(data-bind="number: price.perMonth")= sLabels.na
          td(data-bind="number: price.perQuarter")= sLabels.na
          td(data-bind="number: price.perYear")= sLabels.na
          td(data-bind="number: price.perLiter")= sLabels.na
          td(data-bind="number: price.perKilometer")= sLabels.na
  .mdl-cell.mdl-cell--10-col
  .mdl-cell.mdl-cell--2-col
    a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='#refill-bulk')
      i.material-icons add